button {
  border: none;
  background-color: unset;
  font-family: inherit;
}

.button-primary {
  text-wrap: nowrap;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 25px;
  text-align: center;
  transition: all 0.3s ease;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-primary:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.button-primary:focus-visible {
  -webkit-tap-highlight-color: unset;
  outline: 0 !important;
}

.button-secondary {
  text-wrap: nowrap;
  background-color: #fff;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 25px;
  text-align: center;
  transition: all 0.3s ease;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-secondary:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.button-disable {
  text-wrap: nowrap;
  background-color: #cccdcf;
  border: 2px solid #cccdcf;
  border-radius: 100px;
  color: #fff;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 25px;
  text-align: center;
  transition: all 0.3s ease;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0.8;
}
